<section fxLayout="row" fxLayoutAlign="start center">
  <div *ngIf="label" class="show-label">Shows*</div>
  <mat-form-field fxFlexOffset="20px" class="times">
    <mat-select [(ngModel)]="hoursValue" placeholder="Hours">
      <mat-option *ngFor="let hour of hours;trackBy: trackByFn " [value]="hour">
        {{hour}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlexOffset="20px" class="times">
    <mat-select [(ngModel)]="minutesValue" placeholder="Minutes">
      <mat-option  *ngFor="let minute of minutes;trackBy: trackByFn " [value]="minute">
        {{minute}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon (click)="addTimes()" fxFlexOffset="20px" class="disabled" [ngClass]="{'clock-active': minutesValue && hoursValue }"
    fxLayoutAlign="start">add_alarm</mat-icon>
</section>
<section class="shows">
  <mat-chip-list>
    <mat-chip *ngFor="let show of value; let index = index;trackBy: trackByFn">{{show}} <mat-icon matChipRemove (click)="value.splice(index, 1)">cancel</mat-icon></mat-chip>
  </mat-chip-list>
</section>
