.up-coming-container {
  padding-left: 8px;
  .mat-progress-bar {
    margin: 0 58px 100px 0;
  }
}
.lastDiv {
  background-color: gainsboro;
  width: 100%;
  height: 20px;
  text-align: center;
  margin: 5px 30px;
  padding: 5px;
}
