.movies-management {
  .popup-header {
    padding-bottom: 20px;
  }
  .movies-cont {
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin: 4px;
    .movies-header {
      padding: 10px 20px;
      color: rgba(0, 0, 0, 0.54);
      background: rgba(0, 0, 0, 0.07);
      .title {
        font-size: 17px;
      }
    }
    .movies-body {
      padding: 20px 12px 0;
      .example-chip-list {
        width: 100%;
      }
    }
  }
  .movies-loading {
    padding-bottom: 20px;
  }
  .close-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    &:hover {
      transform: translate3d(0, -1px, 0);
    }
  }
}
